.root {
    -fx-background-image: url("background_image.png");
}

/* 不同的背景样式类 */
.background-forest {
    -fx-background-image: url('background/bg1.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.background-desert {
    -fx-background-image: url('background/bg3.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.background-snow {
    -fx-background-image: url('background/bg2.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.background-space {
    -fx-background-image: url('background/bg4.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.background-5 {
    -fx-background-image: url('background/bg5.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.background-6 {
    -fx-background-image: url('background/bg6.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.background-7 {
    -fx-background-image: url('background/bg7.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.nextBrick {
    -fx-border-width: 2px;
    -fx-border-color: whitesmoke;
    -fx-border-radius: 17px;
}

.gameBoard {
    -fx-border-color: linear-gradient(#2A5058, #61a2b1);
    -fx-border-width: 12px;
    -fx-border-radius: 12px;
}

.nextBrickLabel {
    -fx-font-family: "Let's go Digital";
    -fx-padding: 20px 0 0 0;
    -fx-font-size: 16px;
    -fx-text-fill: yellow;
}

.ipad-dark-grey {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0, 1, 4, 5, 6;
    -fx-background-radius: 9, 8, 5, 4, 3;
    -fx-padding: 4 8;
    /*-fx-font-family: "Helvetica";*/
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0, 0, 1);
}

.rectangleStyle {
    -fx-fill: linear-gradient(from 41px 34px to 50px 50px, reflect, #ff7f50 30%, #faebd7 47%);
}

.vbox {
    -fx-spacing: 12;
}

.helpInfo {
    -fx-fill: white;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 15px;
}

.bonusStyle {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.gameOverStyle {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 48;
    -fx-background-color: red;
}

.scoreClass{
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 38;
    -fx-fill: yellow;
    -fx-text-fill: yellow;
}

.music-control {
    -fx-padding: 5px;
    -fx-border-color: #4a4a4a;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.volume-icon {
    -fx-border-color: blue;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-color: yellow;
}

.volume-icon:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: drop shadow(gaussian, rgba(81, 207, 102, 0.5), 5, 0.5, 0, 0);
}

.volume-slider {
    -fx-padding: 10px 0;
    -fx-background-color: transparent;
}

.speakerClass {
    -fx-border-color: green;
        -fx-border-width: 1px;
        -fx-border-radius: 3px;
        -fx-padding: 3px;
        -fx-background-color: transparent;
}

.highestScoreClass {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 15;
    -fx-fill: red;
    -fx-text-fill: red;
}

.highestScoreTextClass {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 38;
    -fx-fill: green;
    -fx-text-fill: green;
}